<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/idea" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "About", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Projects", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact","#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Resume", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dark Mode", "#", class: "nav-link" %>
          </li>
      </ul>
    </div>
  </div>
</div>
